# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore virtual environment
venv

# Ignore pytest cache
.pytest_cache

# Ignore VSCode settings
.vscode

# Ignore Docker-related files
Dockerfile
docker-compose.yml
docker_compose/

# Ignore Git-related files
.git
.gitignore

# Ignore environment files
.env
.env.example

# Ignore other unnecessary files
README.md
requirements.txt